@import "compass";
@import "compass/css3";
@import "chat";
* {
    margin: 0;
    @include box-sizing(border-box);
}

body {
    //   background-color: #000;
    // color: #FFF;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

.game-list-elt-selected {
    background-color: grey;
}

.other-players {
    display: flex;
    justify-content: space-around;

    .other-player {
        width: 20%;
        border: 1px solid black;
    }
}

.my-player {
    display: flex;
    flex-direction: column;

    .my-player-info {
        display: flex;
        flex-direction: row;


    }

    .my-player-main{
        display: flex;
        flex-direction: row;

        .my-player-hand {
            width: 80%;
            overflow-x: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;

            .card {
                padding: 0 10px;
            }

            .card-selected {
                border: 1px solid green;
            }
        }
    }
}