<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Tarot Congolais - Thomas Laforge Dev</title>
	<link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
	<h1>Le Tarot Congolais</h1>
	<div class="boardgame">
		<div id="cards-zone-1" class="cards-zone cards-zone-1"></div>
		<div id="cards-zone-2" class="cards-zone cards-zone-2"></div>
		<div id="cards-zone-3" class="cards-zone cards-zone-3">
			<div class="card-in-cards-zone"></div>
			<div class="card-in-cards-zone"></div>
			<div class="card-in-cards-zone"></div>
			<div class="card-in-cards-zone"></div>
			<div class="card-in-cards-zone"></div>
			<div class="card-in-cards-zone"></div>
		</div>
		<div id="cards-zone-4" class="cards-zone cards-zone-4"></div>
	</div>

	<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
		<b>USERS</b>
		<div id="users"></div>
	</div>
	<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
		<div id="conversation"></div>
		<input id="data" style="width:200px;" />
		<input type="button" id="datasend" value="send" />
	</div>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://localhost:8080/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="../js/client/app.js"></script>

</body>
</html>